.div1 {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.div3 {
    width: 300px;
    height: 300px;
    background-color: red;
}

.div4 {
    background-color: green;
}

.span1 {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.span2 {
    background-color: orange;
}

.input1 {
    width: 300px;
    height: 200px;
}

.a1 {
    display: block;
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.div5 {
    background-color: purple;
    display: inline;
}

.span4 {
    display: inline-block;
    height: 100px;
    width: 300px;
    background: dodgerblue;
    line-height: 100px; /*center text vertically: set line-height equal to height*/
}