p {
    color: red;
}

.class-selector1 {
    color: green;
}

#id-selector1 {
    color: blue;
}

* {
    font-size: 20px;
}

.selector4 span {
    color: orange;
}

.selector5 > span {
    color: yellow;
}

.selector6,
.selector7 {
    color: purple;
}