.div1 {
    width: 300px;
    height: 200px;
    border-width: 5px;
}

.div2 {
    width: 300px;
    height: 200px;
    border-style: solid;
}

.div3 {
    width: 300px;
    height: 200px;
    border-style: dashed;
}

.div4 {
    width: 300px;
    height: 200px;
    border-style: dotted;
}

.div5 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}

.div6 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
}

.table1 {
    width: 500px;
    height: 200px;
}

th {
    height: 35px;
}

.table1, td, th {
    border: 3px solid green;
    border-collapse: collapse;
    text-align: center;
}

.div7 {
    width: 300px;
    height: 200px;
    background: red;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.div8 {
    width: 300px;
    height: 200px;
    background: green;
    padding: 50px 50px 30px 30px;
}

.div9 {
    height: 100px;
    width: 300px;
    background-color: orange;
}

.div10 {
    background-color: rgba(0, 0, 255, 0.5);
    padding: 4px;
}

.div11 {
    height: 100px;
    width: 300px;
    background-color: lightblue;
    margin: 20px;
}

.div12 {
    background-color: palevioletred;
    padding: 20px;
}

.div13 {
    height: 100px;
    width: 300px;
    background-color: cadetblue;
}

.div14 {
    background-color: lawngreen;
    margin: 20px;
    box-sizing: border-box;
}

.div15 {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background: pink;
}

.div16 {
    height: 100px;
    width: 200px;
    border-radius: 10px 20px 30px 5px;
    background: palevioletred;
}

.div17 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: skyblue;
}

.div18 {
    height: 200px;
    width: 200px;
    background: yellowgreen;
}

.div18:hover {
    box-shadow: 10px 10px 10px 10px black;
}

